<div class="container">
  <div class="row">

    <div class="col-lg-7">

      <form class="form-horizontal" [formGroup]="controllerForm" (ngSubmit)="submitForm($event)">

        <div class="form-group">

          <div class="col-lg-12">

            <!-- serverName -->

            <div class="row">
              <label for="serverName" class="control-label col-lg-4">Server name</label>
              <div class="col-lg-6">
                <input type="text" id="serverName" formControlName="serverName" />
              </div>
            </div>

            <!-- noOfCpus -->

            <div class="row">
              <label for="noOfCpus" class="control-label col-lg-4">No of Cpus</label>
              <div class="col-lg-6">
                <input type="number" [step]="1" [min]="0" id="noOfCpus" formControlName="noOfCpus" />
              </div>
            </div>

            <!-- memory -->

            <div class="row">
              <label for="memory" class="control-label col-lg-4">Memory</label>
              <div class="col-lg-6">
                <input type="number" [min]="0" [step]="0.01" id="memory" formControlName="memory" />
              </div>
            </div>

            <!-- storage -->

            <div class="row">
              <label for="storage" class="control-label col-lg-4">Storage</label>
              <div class="col-lg-6">
                <input type="number" [min]="0" [step]="0.01" id="storage" formControlName="storage" />
              </div>
            </div>

            <!-- ipAddress -->
            <div class="row">
              <label for="ipAddress" class="control-label col-lg-4">IP Address</label>
              <div class="col-lg-6">
                <input type="text" id="ipAddress" formControlName="ipAddress" />
              </div>
            </div>

            <!-- networkSpeed -->
            <div class="row">
              <label class="" for="networkSpeed" class="control-label col-lg-4">Network Speed</label>
              <div class="col-lg-6">
                <input type="text" id="networkSpeed" formControlName="networkSpeed" />
              </div>
            </div>

            <!-- location -->
            <div class="row">
              <label for="location" class="control-label col-lg-4">Location</label>
              <div class="col-lg-6">
                <input type="text" id="location" formControlName="location" />
              </div>
            </div>

          </div>

        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!controllerForm.valid">{{ operationMode === 'edit' ? "Save" : "Add" }}</button>

      </form>

    </div>

    <div class="col-lg-4">
      <span class="notification"  *ngIf="showNotification">Server added successfully</span>
    </div>

  </div>

  <br>
  <br>

  <app-datagrid [isItemAdded]="itemAdded" (updateIndex)="updateElement($event)" (openModalEvent)="openModal($event)"></app-datagrid>

</div>

<!-- <app-modal [isModalOpen]="isModalOpen" [index]="currentIndex" (isModalOpenChange)="closeModal()"></app-modal> -->

<app-chart [isChartOpen]="isModalOpen" (isChartOpenChange)="isModalOpen = false" [index]="currentIndex"></app-chart>
